 <div id="map" style="position:absolute; width:100%; height:100%; background:grey" ></div>
<script  type="text/javascript" charset="UTF-8" >
  function setUpClickListener(map) {
map.addEventListener('tap', function (evt) {
var coord = map.screenToGeo(evt.currentPointer.viewportX,
 	evt.currentPointer.viewportY);
alert('Clicked at ' + Math.abs(coord.lat.toFixed(6)) +
 				((coord.lat > 0) ? 'N' : 'S') +
' ' + Math.abs(coord.lng.toFixed(6)) +
 ((coord.lng > 0) ? 'E' : 'W'));
 });
}
  var platform = new H.service.Platform({
app_id: 'Ktp5ly1lipgQ42mtaPg4',
app_code: 'HWDJHPJUmiXwEAJ4X0SmcA',
useCIT: true,
useHTTPS: true
});
var defaultLayers = platform.createDefaultLayers();
  var map = new H.Map(document.getElementById('map'),
defaultLayers.normal.map,{
center: {lat: 8.800, lng: 111.8471577 },
zoom: 5
});
var behavior = new H.mapevents.Behavior(new H.mapevents.MapEvents(map));
setUpClickListener(map);
</script> 